:root {
  --primary: rgba(33,37,41, 1);
  --secondary: #383d40;
  --text: #ffffff;
  --textSecondary: #9d9d9d;
  --highlights: #9d9b60;
  --contrast: #696969;
  --warning: #6c7718;
  --success: #0b460c;
  --alert: #641212;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1{
    @apply text-2xl font-bold
  }
  h2{
    @apply text-xl font-bold
  }
  h3{
    @apply text-lg font-bold
  }
  h4{
    @apply text-base font-bold
  }
  h5{
    @apply text-sm font-bold
  }
  h6{
    @apply text-xs font-bold
  }
}

html,
body {
  background-color: var(--primary);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.ce-paragraph{
  color:var(--text)
}

.tc-cell{
  color:var(--text);
  border: 1px solid var(--primary)
}

.tc-table{
  border: 1px solid var(--primary)
}

.ce-code__textarea{
  border: none !important;
  background-color: var(--primary) !important;
  color: var(--text) !important;
}

.icon{
  color: var(--text)
}

.tc-add-column:hover, .tc-add-row:hover{
  background-color: var(--primary) !important;
}

.ce-header{
  color: var(--text)
}

.tc-table{
  border: 1px solid var(--text);
}

.row>*{
  padding-left: 0 !important;
}


