/* Themes */
:root {
  --primary: rgba(33,37,41, 1);
  --secondary: #383d40;
  --text: #ffffff;
  --textSecondary: #9d9d9d;
  --highlights: #9d9b60;
  --contrast: #1e87e3;
  --contrastDark:#0d47a1;
  --warning: #6c7718;
  --success: #0b460c;
  --alert: #641212;
}

/*:root {*/
/*  --primary: rgb(155, 155, 155);*/
/*  --secondary: #ffffff;*/
/*  --text: #000000;*/
/*  --textSecondary: #4d4a4a;*/
/*  --highlights: #9d9b60;*/
/*  --contrast: #1e87e3;*/
/*  --contrastDark:#0d47a1;*/
/*  --warning: #6c7718;*/
/*  --success: #0b460c;*/
/*  --alert: #641212;*/
/*}*/

/*Tailwind Stuff*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1{
    @apply text-2xl font-bold
  }
  h2{
    @apply text-xl font-bold
  }
  h3{
    @apply text-lg font-bold
  }
  h4{
    @apply text-base font-bold
  }
  h5{
    @apply text-sm font-bold
  }
  h6{
    @apply text-xs font-bold
  }
}

html,
body {
  background-color: var(--secondary) !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Templating */



.ce-block--selected .ce-block__content{
  background-color: var(--primary) !important;
}

/* Paragraph  */

.ce-paragraph{
  color:var(--text)
}

/* Table */

.tc-cell{
  color:var(--text);
  border: 1px solid var(--primary)
}

.tc-table{
  border: 1px solid var(--primary)
}

.ce-code__textarea{
  border: none !important;
  background-color: var(--primary) !important;
  color: var(--text) !important;
}


.tc-add-column:hover, .tc-add-row:hover{
  background-color: var(--primary) !important;
}

.ce-header{
  color: var(--text)
}

.tc-table{
  border: 1px solid var(--text);
}

.row>*{
  padding-left: 0 !important;
}

.nav-link.active{
  color: var(--text) !important;
}

/* Unsplash */
.inline-image__image-gallery{
  background-color: var(--secondary) !important;
}

.inline-image__image-credits a{
  color: var(--textSecondary) !important;
}

.inline-image__image-credits{
  color: var(--text) !important;
}

.inline-image__tab{
  color: var(--text) !important;
}
.inline-image__tab:hover{
  background-color: var(--primary) !important;
}

.inline-image__search{
  color: var(--text) !important;
}

/*Quote*/
.cdx-input{
  color: var(--text) !important;
}

/* Lists */
.cdx-list{
  color: var(--text) !important;
}
