/*Basic Components and containers*/
.mainBody{
  background-color: var(--secondary);
}
.container {
  margin-top: 0;
  padding: 0 2rem;
  background-color: var(--secondary);
}
.main {
  min-height: 50vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  padding-top: 30px;
  line-height: 1.15;
  font-size: 4rem;
}
.subTitle{
  color: var(--textSecondary);
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.title,
.description {
  color: var(--text);
  text-align: center;
}

/*Layout Styles*/
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/*Editor Styles*/
.editorHolder{
  /*background-color: var(--primary);*/
  width: border-box;
}
.editorPage{
  background: var(--secondary);
}

/*Dialog Styles*/
.dialogContent{
  margin: 20% auto;
  text-align: center;
  background-color: #ffffff;
  height: fit-content;
  min-height: 400px;
  width: 80%;
}
.dialogActualContent{
  border: 1px solid #888888;
  padding: 20px;
  margin-bottom: 20px;

}
.dialog{
  background-color: rgba(255, 255, 255, 0.42);
  display: none;
  justify-items: center;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*Form Contents*/
.formLabel{
  color: var(--text);
  margin-bottom: 5px;
}
.formInput{
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: var(--text);
  font-size: medium;
  border-radius: 7px;
  background-color: var(--primary);
}
.formInput ::placeholder{
  color: var(--textSecondary)
}

/*Heading Styles*/
.header{
  background-color: var(--primary);
  color: var(--text);
}
.headerBrand{
  color: var(--text) !important;
}
.headerText{
  color: var(--text) !important;
}
.headerNavLink{
  color: var(--textSecondary);
}
.headerNavLink.active{
  color: var(--text) !important;
}
.headerNavLink :hover{
  color: var(--text) !important;
}


/*Footer Styles*/
.footer{
   margin:0;
   padding: 0;
   background-color: var(--primary);
}
.footerText {
    color:var(--text);
}
.footerRow {
  /*margin-top: 10px;*/
  padding-top: 30px;
  align-items: center;
}

/*Login Forum*/
.loginForm {
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--secondary);
  padding: 40px;
  max-width: 500px;
  margin: 100px auto 100px;
  text-align: center;
}
.loginFormHeader{
  color: var(--text);
  font-size: 30px;
  margin-bottom: 30px;
}
.loginFormInput{
  background-color: var(--text);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--primary);
  color:  var(--secondary);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}
.loginButton{
  background-color: var(--contrast);
  border: none;
  border-radius: 5px;
  color: var(--text);
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
  width: 100%;
}
.loginButton:hover {
  background-color: var(--contrastDark);
}
.loginFormText{
  padding-top: 10px;
  color: var(--text)
}

/*Custom Html Styles*/
.customHtmlHeading{
  color:var(--text)
}
.customHtmlParagraph{
  color:var(--text)
}
.customHtmlImage{
  text-align: center;
  width: 100%;
  object-fit: contain;
  max-height: 400px
}
.customHtmlImageCaption{
  color:var(--text)
}
.customHtmlRawHtml{
  color:var(--text)
}
.customHtmlTable {
  border-radius: 10px;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  background-color: var(--secondary);
  color: var(--text);
  border: 1px solid var(--primary)
}
.customHtmlTableHeader, .customHtmlTableData {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}
.customHtmlTableRow :hover {
  background-color: #555;
}
.customHtmlTableHeader {
  background-color: var(--primary);
  color: var(--text);
  border-right: 1px solid var(--primary);
}
.customHtmlBlockquote {
  border-left: 5px solid var(--text);
  padding-left: 10px;
  margin-left: 0;
  font-style: italic;
  font-size: xx-large;
  color:  var(--text)
}
.customHtmlBlockquoteFooter {
  margin-top: 10px;
  font-style: normal;
  font-size: medium;
  text-align: right;
  color:  var(--textSecondary);
}
.customHtmlDelimiterStars{
  text-align: center;
  font-size: xx-large;
  color: var(--textSecondary)
}
.customHtmlCode {
  background: var(--primary);
  overflow-x: auto;
  color:var(--text);
  border-radius: 5px;
  padding: 0.75rem;
  text-align: left;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}
.customHtmlUnorderedList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
  border-radius: 5px;
}
.customHtmlUnorderedListItem {
  padding: 10px;
  border-bottom: 1px solid var(--secondary);
  color: var(--text);
  background-color: var(--primary);
  border-radius: 10px ;
  font-size: 16px;
  line-height: 1.4;
}
.customHtmlUnorderedListItem :last-child {
    border-bottom: none;
}

/*Media Queries*/
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
