.container {
  margin-top: 0;
  padding: 0 2rem;
  background-color: var(--secondary);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  padding-top: 20px;
  line-height: 1.15;
  font-size: 4rem;
}

.subTitle{
  color: var(--textSecondary);
}

.title,
.description {
  color: var(--text);
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.dialogActualContent{
  border: 1px solid #888888;
  padding: 20px;
  margin-bottom: 20px;

}

.editorHolder{
  /*background-color: var(--primary);*/
  width: border-box;
}

.editorPage{
  background: var(--secondary);
}

.formInput{
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: var(--text);
  font-size: medium;
  border-radius: 7px;
  background-color: var(--primary);
}

.dialogContent{
  margin: 20% auto;
  text-align: center;
  background-color: #ffffff;
  height: fit-content;
  min-height: 400px;
  width: 80%;
}

.dialog{
  background-color: rgba(255, 255, 255, 0.42);
  display: none;
  justify-items: center;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.formLabel{
  color: var(--text);
  margin-bottom: 5px;
}

.customHtmlHeading{
  color:var(--text)
}

.customHtmlParagraph{
  color:var(--text)
}

.customHtmlImage{
  text-align: center;
  width: 100%;
  object-fit: contain;
  max-height: 400px
}

.customHtmlImageCaption{
  color:var(--text)
}

.customHtmlRawHtml{
  color:var(--text)
}

.customHtmlTable {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  background-color: #444;
  color: #fff;
  border: 1px solid var(--primary)
}
.customHtmlTableHeader, .customHtmlTableData {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}
.customHtmlTableRow :hover {
  background-color: #555;
}
.customHtmlTableHeader {
  background-color: var(--primary);
  color: var(--text);
  border-right: 1px solid var(--primary);
}

.customHtmlBlockquote {
  border-left: 5px solid var(--text);
  padding-left: 10px;
  margin-left: 0;
  font-style: italic;
  font-size: xx-large;
  color:  var(--text)
}

.customHtmlBlockquoteFooter {
  margin-top: 10px;
  font-style: normal;
  font-size: medium;
  text-align: right;
  color:  var(--textSecondary);
}

.customHtmlDelimiterStars{
  text-align: center;
  font-size: xx-large;
  color: var(--textSecondary)
}

.customHtmlCode {
  background: var(--primary);
  color:var(--text);
  border-radius: 5px;
  padding: 0.75rem;
  text-align: left;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.customHtmlUnorderedList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background-color: var(--primary);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.customHtmlUnorderedListItem {
  padding: 10px;
  border-bottom: 1px solid var(--primary);
  color: var(--text);
  background-color: #2c3034;
  font-size: 16px;
  line-height: 1.4;
}

.customHtmlUnorderedListItem :last-child {
  border-bottom: none;
}
